/* General Styles */
body {
    
    font-family: 'Cairo';
    margin: 0;
    padding: 0;
    color: #333;
    background: #FFFFFF; /* Light grey background for better visibility */
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between; /* Space between logo and hamburger */
    align-items: center;
    padding: 20px;
    color: #fff;
    font-family: 'Cairo';
    font-weight: bold;
    font-size: 25px;
    position: relative; /* Allow positioning for logo and hamburger menu */
}

.logo-container{
    margin-top: 15px;
}

.logo2{
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 0;
}

.logo-container img {
    max-width: 100%; /* Ensures the logo doesn't exceed the container size */
    height: auto; /* Maintains the aspect ratio */
}


/* Navigation Styles */
nav {
    flex-grow: 1;
    text-align: right;
}

nav ul {
    list-style: none;
    padding: 0px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row; /* Horizontal by default */
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

/* Hamburger Menu for Mobile */
.nav-toggle {
    display: none; /* Hide checkbox */
}

.nav-toggle-label {
    display: none; /* Hide label by default */
    position: absolute;
    top: 22px;
    right: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    position: absolute;
    height: 2px;
    width: 25px;
    transition: 0.3s ease;
}

.nav-toggle-label span::before {
    content: '';
    top: -8px;
}

.nav-toggle-label span::after {
    content: '';
    top: 8px;
}

/* Adjust header for responsive mode */
@media (max-width: 768px) {
    header {
        height: 60px; /* Adjust height to center the content better */
        padding: 0 20px; /* Adjust padding for responsive layout */
    }

    .logo-container {
        display: flex; /* Flexbox to align logos side by side */
        align-items: center;
        margin-right: 12rem;
    }

    .logo {
        margin-right: 5px; /* Add some spacing between logos */
    }

    .logo-container img {
        height: auto; /* Maintain the aspect ratio */
    }

    .nav-toggle-label {
        display: block; /* Show the hamburger icon */
        position: absolute; /* Position hamburger menu on the right */
        right: 2.5rem; /* Adjust for spacing from the right */
        top: 80%; /* Center vertically relative to header */
        transform: translateY(-50%); /* Vertically center the hamburger */
        cursor: pointer;
    }

    nav {
        position: absolute;
        right: 20px;
        top: 60px; /* Start right below the header */
        width: auto;
        display: none; /* Initially hide the menu */
        flex-direction: column; /* Make the menu vertical */
        align-items: flex-end;
        background-color: #0056b3; /* Optional: background color for menu */
        padding: 10px;
        border-radius: 5px;
    }

    nav ul {
        flex-direction: column; /* Vertical layout for mobile */
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: flex-start; /* Align items to the start */
        z-index: 9;
    }

    nav ul li {
        text-align: right; /* Align text to the right */
        margin: 5px 0;
    }

    nav ul li a {
        padding: 10px 20px;
        display: block; /* Make links fill the li */
        color: white;
        text-decoration: none;
    }

    .nav-toggle:checked + .nav-toggle-label + nav {
        display: flex; /* Display nav when toggle is checked */
    }
}


/* Hero Section */
#hero-about {
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    min-height: 60vh;
    background-image: url('../images/blueaboutt.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center, center top, center bottom;
    background-size: cover, cover, cover;
    background-attachment: fixed; /* This creates the parallax effect */
}

/* Adjust background position for medium screens */
@media (max-width: 1024px) {
    #hero-about {
        background-position: 75% center, 70% top, 55% bottom; /* Slight shift to the right */
    }
}

/* Adjust background position for small screens */
@media (max-width: 768px) {
    #hero-about {
        background-position: 75% center, 75% top, 60% bottom; /* Slightly more to the right on smaller screens */
    }
}

.hero-content {
    padding: 20px;
    color: #fff; /* White text color */
    text-align: center;
    max-width: 500px; /* Maximum width to control text length */
    margin: 100px auto 0; /* Reduce the top margin to move the content up */
    position: relative; /* Position relative for absolute centering */
    top: 50%; /* Push content halfway down */
    transform: translateY(-33%); /* Center content vertically */
}

.hero-content h1 {
    margin-bottom: 20px; /* Space between the title and the description */
}

.hero-content p {
    margin: 10px 0; /* Space between paragraphs */
}

/* Vision and Mission Section */
#vision-mission {
    padding: 50px 20px;
    background: #f8f8f8;
    text-align: center;
}

#vision-mission .container {
    max-width: 500px; /* Match max-width to hero-content */
    margin: 50px auto; /* Center align and add margin at the top */
    color: #333; /* Text color */
}

#vision-mission .vision,
#vision-mission .mission {
    margin: 30px 0;
}

.vision h2 {
    font-size: 35px;
    color: #3c2cab;
}

.mission h2 {
    font-size: 35px;
    color: #586eab;
}

#vision-mission p {
    font-size: 16px;
    margin: 10px 0;
    color: #666;
}

/* Core Values Section */
#core-values {
    padding: 50px 20px;
    background: #fff;
    text-align: center;
}

#core-values .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#core-values h2 {
    font-size: 24px;
    color: #300d90;
    text-align: center;
    margin-bottom: 30px;  /* Ensures space between the title and the value items */
}

.values-grid {
    display: flex;
    justify-content: center;  /* Centers items horizontally */
    align-items: stretch;  /* Aligns items to stretch and fill the container */
    flex-wrap: wrap; /* Allows items to wrap to the next line on smaller screens */
    width: 100%;
    gap: 20px; /* Adds space between the value items */
}

.value-item {
    /* display: flex; */
    flex-direction: column; /* Stack the logo on top of the content */
    align-items: center;
    text-align: center;
    width: 200px; /* Fixed width for consistent sizing */
    height: 300px; /* Fixed height for consistent sizing */
    background-color: #f0f0f0; /* Grey background for the description area */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    border-radius: 8px; /* Rounded corners for a smooth appearance */
    box-sizing: border-box;
    overflow: hidden; /* Ensures content stays within the box */
}

.value-item img {
    width: 100%;  /* Logo covers the entire width of the top of the box */
    height: 125px;
    object-fit: cover;
    border-bottom: 2px solid #ccc; /* Separator line at the bottom of the logo */
}

.value-item h3 {
    font-size: 16px;
    color: #6a5c5c;
    margin: 10px 0 5px;  /* Spacing above and below the heading */
}

.value-item p {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin: 0; /* No margin around the paragraph */
    flex-grow: 1; /* Allows the text area to grow if needed */
    display: flex; /* Flex container for centering text */
    align-items: center; /* Center align vertically */
    justify-content: center; /* Center align horizontally */
}


/* Management section */
#management {
    padding: 50px 20px;
    background: #fff;
    text-align: center;
}

#management .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#management h2 {
    font-size: 35px;
    color: #300d90;
    text-align: center;
    margin-bottom: 30px;
}

.management-grid {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    gap: 20px; /* Adds space between the manager items */
    justify-content: center; /* Centers the grid */
    align-items: stretch; /* Ensures items stretch to fill the available space */
    margin-bottom: 20px;
}

.management-item {
    display: flex;
    flex-direction: column; /* Stack the image on top of the content */
    align-items: center;
    text-align: center;
    width: 280px; /* Fixed width for consistent sizing */
    height: 380px; /* Fixed height for consistent sizing */
    background-color: #f0f0f0; /* Grey background for the description area */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    border-radius: 8px; /* Rounded corners for a smooth appearance */
    box-sizing: border-box;
    overflow: hidden; /* Ensures content stays within the box */
}

.management-item img {
    width: 100%; /* Image covers the entire width of the top of the box */
    height: 250px; /* Fixed height for all images */
    object-fit: cover; /* Ensures the image fills the space without stretching */
    border-bottom: 2px solid #ccc; /* Separator line at the bottom of the image */
}

.management-item h3 {
    font-size: 20px;
    color: #333;
    margin: 10px 0 5px; /* Spacing above and below the heading */
}

.management-item p {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin: 0; /* No margin around the paragraph */
    flex-grow: 1; /* Allows the text area to grow if needed */
    display: flex; /* Flex container for centering text */
    align-items: center; /* Center align vertically */
    justify-content: center; /* Center align horizontally */
}

.management-link .link-icon {
    width: 20px;  /* Smaller width for the icon */
    height: 20px;  /* Smaller height to match the width */
    display: inline-block;  /* Ensures the icon aligns properly */
    vertical-align: middle;  /* Aligns the icon vertically with the text */
    margin-bottom: 20px; /* Adds some space between the text and the icon */
    transition: filter 0.3s ease; /* Smooth transition for the hover effect */
}

/* Apply a blue hue on hover */
.management-link:hover .link-icon {
    filter: brightness(0) saturate(100%) invert(17%) sepia(97%) saturate(6704%) hue-rotate(200deg) brightness(97%) contrast(102%);
}


/* Responsive Behavior */
/* For medium screens (up to 1024px), make 2 boxes per row */
@media (max-width: 1024px) {
    .management-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
    }
}

/* For small screens (up to 768px), make 1 box per row */
@media (max-width: 768px) {
    .management-grid {
        grid-template-columns: 1fr; /* 1 column */
    }
}



/* Footer Styles */
#site-footer {
    background-color: #0056b3;
    color: white;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-column {
    flex: 1;
    padding: 0 15px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    font-size: 14px;
    line-height: 1.6;
    padding: 5px 0;
}

.logo-column {
    flex: 0 1 auto; /* Allow the logo to maintain its size without stretching */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logo-column img {
    max-width: 250px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}


.contact-info {
    display: flex;
    flex-direction: column;
    align-items: start; /* Left-align the content */
}

.contact-info div, .contact-methods {
    text-align: left; /* Left-align text for the address and contact methods */
}

.contact-methods {
    display: flex; /* Display both links in a single row */
    justify-content: start; /* Align the items to the start */
    gap: 20px; /* Space between call and email links */
}

.contact-methods a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.contact-methods img {
    width: 24px; /* Smaller icon size */
    height: 24px;
    margin-right: 10px;
}

/* Responsive Styles for Footer */
@media (max-width: 1024px) {
    .footer-container, .footer-column {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .footer-container, .footer-column {
        align-items: center;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .footer-column {
        width: 100%;
        padding: 0 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .contact-methods {
        /* flex-direction: column; */
        align-items: center;
        gap: 10px;
    }
}
